.blue-primary-main { color: #5D87FF; }
.blue-primary-light { color: #253662; }
.blue-primary-dark { color: #4570EA; }
.blue-primary-contrast { color: #ffffff; }
.blue-secondary-main { color: #49BEFF; }
.blue-secondary-light { color: #1C455D; }
.blue-secondary-dark { color: #23afdb; }
.blue-secondary-contrast { color: #ffffff; }
.blue-background-default { color: #2A3447; }
.blue-background-dark { color: #2A3547; }
.blue-background-paper { color: #2A3447; }
.pink-primary-main { color: #E91E63; }
.pink-primary-light { color: #FCE4EC; }
.pink-primary-dark { color: #C2185B; }
.pink-primary-contrast { color: #ffffff; }
.pink-secondary-main { color: #FFB6C1; }
.pink-secondary-light { color: #FFE6EB; }
.pink-secondary-dark { color: #FF7F9D; }
.pink-secondary-contrast { color: #ffffff; }
.aqua-primary-main { color: #0074BA; }
.aqua-primary-light { color: #103247; }
.aqua-primary-dark { color: #006DAF; }
.aqua-primary-contrast { color: #ffffff; }
.aqua-secondary-main { color: #47D7BC; }
.aqua-secondary-light { color: #0C4339; }
.aqua-secondary-dark { color: #39C7AD; }
.aqua-secondary-contrast { color: #ffffff; }
.purple-primary-main { color: #B7A8FD; }
.purple-primary-light { color: #763EBD; }
.purple-primary-dark { color: #c129c3; }
.purple-primary-contrast { color: #000; }
.purple-secondary-main { color: #95CFD5; }
.purple-secondary-light { color: #09454B; }
.purple-secondary-dark { color: #8BC8CE; }
.purple-secondary-contrast { color: #ffffff; }
.green-primary-main { color: #0A7EA4; }
.green-primary-light { color: #05313F; }
.green-primary-dark { color: #06769A; }
.green-primary-contrast { color: #ffffff; }
.green-secondary-main { color: #CCDA4E; }
.green-secondary-light { color: #282917; }
.green-secondary-dark { color: #C3D046; }
.green-secondary-contrast { color: #ffffff; }
.cyan-primary-main { color: #01C0C8; }
.cyan-primary-light { color: #003638; }
.cyan-primary-dark { color: #00B9C0; }
.cyan-primary-contrast { color: #ffffff; }
.cyan-secondary-main { color: #FB9678; }
.cyan-secondary-light { color: #40241C; }
.cyan-secondary-dark { color: #F48B6C; }
.cyan-secondary-contrast { color: #ffffff; }
.orange-primary-main { color: #FA896B; }
.orange-primary-light { color: #402E32; }
.orange-primary-dark { color: #F48162; }
.orange-primary-contrast { color: #ffffff; }
.orange-secondary-main { color: #0074BA; }
.orange-secondary-light { color: #082E45; }
.orange-secondary-dark { color: #006FB1; }
.orange-secondary-contrast { color: #ffffff; }
.custom-primary-main { color: #5D87FF; }
.custom-primary-light { color: #ECF2FF; }
.custom-primary-dark { color: #4570EA; }
.custom-secondary-main { color: #777e89; }
.custom-secondary-light { color: #1C455D; }
.custom-secondary-dark { color: #173f98; }
.custom-success-main { color: #13DEB9; }
.custom-success-light { color: #1B3C48; }
.custom-success-dark { color: #02b3a9; }
.custom-success-contrastText { color: #ffffff; }
.custom-info-main { color: #539BFF; }
.custom-info-light { color: #223662; }
.custom-info-dark { color: #1682d4; }
.custom-info-contrastText { color: #ffffff; }
.custom-error-main { color: #FA896B; }
.custom-error-light { color: #4B313D; }
.custom-error-dark { color: #f3704d; }
.custom-error-contrastText { color: #ffffff; }
.custom-warning-main { color: #FFAE1F; }
.custom-warning-light { color: #4D3A2A; }
.custom-warning-dark { color: #ae8e59; }
.custom-warning-contrastText { color: #ffffff; }
.custom-purple-A50 { color: #EBF3FE; }
.custom-purple-A100 { color: #6610f2; }
.custom-purple-A200 { color: #557fb9; }
.custom-grey-100 { color: #333F55; }
.custom-grey-200 { color: #465670; }
.custom-grey-300 { color: #02bbbb; }
.custom-grey-400 { color: #DFE5EF; }
.custom-grey-500 { color: #EAEFF4; }
.custom-grey-600 { color: #F2F6FA; }
.custom-text-primary { color: #EAEFF4; }
.custom-text-secondary { color: #02bbbb; }
.custom-action-disabledBackground { color: rgba(73,82,88,0.12); }
.custom-action-hoverOpacity { color: 0.02; }
.custom-action-hover { color: #333F55; }
.custom-divider { color: #333F55; }
.custom-background-default { color: #495C68; }
.custom-background-dark { color: #495C68; }
.custom-background-paper { color: #495C68; }